/* Reset and General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    text-align: center;
    margin: 0; /* Remove default margin for h1 */
}

/* Main Content Styles */
main {
    padding: 20px;
}

.intro-section {
    text-align: center;
    margin-top: 20px;
}

.intro-content {
    max-width: 800px;
    margin: 0 auto;
}

.intro-content section {
    margin-bottom: 40px;
}

.intro-content h2 {
    color: #007bff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.intro-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
}

.navigation-section {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Project Styles */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 30%;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.project img {
    width: 100%; /* Make images responsive to container */
    height: auto; /* Maintain aspect ratio */
    display: block;
    object-fit: cover; /* Cover entire container */
}

.project-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Fixed height for image container */
    overflow: hidden; /* Hide overflow to prevent image stretching */
}

.project-images img {
    max-width: 100%; /* Ensure images take full width of their container */
    max-height: 100%; /* Limit maximum height to match container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover entire container */
    transition: transform 0.3s ease; /* Optional: Add transition effect */
}

.project-info {
    text-align: left;
}

.project-info h2 {
    margin-top: 0;
}


/*Project Details Styles*/
#project-details {
    max-width: 800px;
    margin: 0 auto;
}

#project-details h2 {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 10px;
}

#project-details p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
}

#project-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: block;
}



#project-details video {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
    aspect-ratio: 16 / 9; /* Example aspect ratio (16:9) */
}



#project-details ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

#project-details ul li {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

#project-details h3 {
    color: #007bff;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.project-details h3.technologies-title {
    color: #555;
}

.project-details ul.technologies-list {
    list-style-type: none;
    padding: 0;
}

.project-details ul.technologies-list li {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #777;
    margin-bottom: 8px;
}

.project-details ul.technologies-list li strong {
    color: #007bff;
}

/*Other projects*/
.project-list {
    list-style-type: none;
    padding: 0;
}

.project-list li {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.project-list h2 {
    color: #007bff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-list p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

/*contact*/
.contact-section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.contact-section h1 {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.contact-section ul {
    list-style-type: none;
    padding: 0;
}

.contact-section ul li {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}

.contact-section p:last-child {
    margin-top: 20px; /* Additional space after the list */
}

.contact-section ul li:first-child {
    font-weight: bold; /* Make Email and Phone labels bold */
}
/* Thank you message */
.contact-section .thank-you {
    font-size: 1.2rem;
    color: #007bff;
    margin-top: 20px;
}


/* Footer Styles */
footer {
    background-color: #f2f2f2;
    padding: 15px 20px;
    text-align: center;
    margin-top: 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.navbar .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    margin-right: 20px;
}

.nav-links li {
    padding: 5px 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover,
.nav-links li a:focus {
    color: #007bff;
}

.nav-links li a.active {
    color: #007bff;
    font-weight: bold;
}
