<!-- Footer Component -->
<footer>
    <div class="footer-content">
        <!-- Links and separator container -->
        <div class="footer-links">
            <!-- GitHub Link with Circular Icon -->
            <a href="https://github.com/Byvalvin" target="_blank" id="github-link" aria-label="Visit my GitHub">
                <i class="fab fa-github"></i> <!-- GitHub Icon -->
            </a>
            <!-- Resume Download Link with SVG Icon -->
            <a href="about/AsimiakwiniDaniel-CV.pdf" download="AsimiakwiniDaniel-CV.pdf" id="resume-download" aria-label="Download my Resume">
                <img src="projects/icons/square-cv.svg" alt="Resume Icon" class="resume-icon"> <!-- SVG file for Resume Icon -->
            </a>

            <!-- Pipe Separator -->
            <span class="separator">|</span>


        </div>

        <!-- Copyright Year -->
        <p>&copy; <span id="year"></span> Daniel Asimiakwini. All rights reserved.</p>
    </div>
</footer>
