
<!-- Navbar Component -->
<nav class="navbar">
    <div class="logo-container">
        <img src="images/Byvalvin.jpeg" alt="Byvalvin Logo" class="logo-img"> 
        <a href="index.html" class="navbar-brand" aria-label="Go to homepage">Byvalvin</a>
    </div>
    <div class="menu-toggle" id="menu-toggle" aria-expanded="false" aria-label="Toggle navigation menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="nav-links" id="nav-links" role="navigation">
        <li><a href="index.html" onclick="showSection('home');">Home</a></li>
        <li><a href="projects.html" onclick="showSection('projects');">Projects</a></li>
        <li><a href="other-projects.html" onclick="showSection('otherProjects');">Other Projects</a></li>
        <li><a href="about.html" onclick="showSection('about');">About</a></li>
        <li><a href="contact.html" onclick="showSection('contact');">Contact</a></li>
    </ul>
</nav>


